@using HealthyFoodApp.Models
@model HealthyFoodApp.ViewModels.FoodEditModel

<h1>Create</h1>

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Type"></label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<FoodType>()"></select>
        <span asp-validation-for="Type"></span>
    </div>
    <input type="submit" name="save" value="Save"/>
</form>