@page
@model HealthyFoodApp.Views.Home.IngredientsModel
@{
    
}

<div class="container">

            <div class="row">
                <h3 class="text-primary">Potassium</h3>
                <h6>Potassium is one of the most important minerals in the body. It helps regulate fluid balance, muscle contractions and nerve signals. What's more, a high-potassium diet may help reduce blood pressure and water retention, protect against stroke and prevent osteoporosis and kidney stones.</h6>
            </div>
</div>