<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>@ViewBag.Title</title>

</head>
<body style="margin:auto">
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="universal-header">
        <h1 class="mb-3"><strong>Healthy Food App</strong></h1>
        <h5>Know what you put in your body!</h5>
    </div>
</header>
<div class>
    @RenderBody()
</div>
<footer>
    @RenderSection("footer", required: false)
    <div style="display: none">
        <vc:greeter></vc:greeter>
    </div>
</footer>
</body>
</html>

<style>
    * {
        font-family: Calibri;
    }
    .universal-header {
        width: 100% !important;
        min-height: 60px;
        background-color: rgb(102, 179, 255);
        text-align: center;
        padding-bottom: 7px;
    }
</style>
